/* Based on: http://jmcglone.com/guides/github-pages/ */

@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap')
@import url('https://fonts.googleapis.com/css?family=Lato')

/* For mobile and tablet users (and old browsers) */
@media screen and (min-width: 0px) and (max-width: 549px) {
  body {
    max-width: 100%;
    background-color: #0F0F0F;
  }
}

/* For deskptop users */
@media only screen and (min-width: 550px) {
  body {
    margin: auto auto;
    max-width: 550px;
    background-color: #0F0F0F;
  }
}
/* navigator layout (header */
nav ul {
    font-family:'Lato', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: normal;
    color: #F5F5F5;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
/* link layout */
a {
    text-decoration: none;
    color: #B3C5D9;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    line-height: 0.5em;
    font-family:'Bitter', 'Arial', 'Sans-Serif';
    color: #F5F5F5;
    text-align: center;
    font-style: normal;
    font-weight: normal;
}
p {
    font-size: 1em;
    line-height: 1.2em;
    color: #F5F5F5;
    font-family:'Lato', 'Arial', 'Sans-Serif';
}

pre {
    font-size: 0.8em;
    line-height: 1.2em;
    color: #D8D8D8;
    font-family:'Inconsolata', 'Courier', 'Sans-Serif';
}


/* images */
img {
  max-width: 100%;
  height: auto;
  margin: 1.2em 0 -0.5em 0;
}

/* horizontal lines */
hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #F5F5F5;
    margin: 1em 0;
    padding: 0;
}
